<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demandes</title>
</head>
<body>

<h1>Liste des Demandes</h1>
<a href="/demandes/add">Ajouter Demande</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    <tr th:each="d : ${demandes}">
        <td>
            <a th:href="@{'/demandes/edit/' + ${d.id}}">Edit</a>
            <a th:href="@{'/demandes/delete/' + ${d.id}}">Delete</a>
        </td>
        <td th:text="${d.id}"></td>
        <td th:text="${d.description}"></td>
        <td th:text="${d.status}"></td>
    </tr>
</table>

</body>
</html>